<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: SurveyForm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<h1>Welcome to the Online Survey System</h1><br>
<h2>COVID-19 Return to work survey</h2>

<form action="#" th:action="@{/saveSurveyDetails}" th:object="${surveyForm}" method="POST">
    <div th:each="sl, iter : *{listOfQuestions}" >
        <p th:text="${sl.question}"></p>
        <input type=hidden th:field="*{listOfQuestions[__${iter.index}__].question}">
        <input type=hidden th:field="*{listOfQuestions[__${iter.index}__].launchDate}">
        <input type="radio" id = "option1" th:field="*{listOfQuestions[__${iter.index}__].answer}"  th:value = "yes">
        <label for="option1">Yes</label><br>
        <input type="radio" id = "option2" th:field="*{listOfQuestions[__${iter.index}__].answer}" th:value = "no" >
        <label for="option2">No</label><br>
        <br>
    </div>

     <button type="submit" >Submit</button>
</form>
</body>
</html>
