<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thankyou</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>

<h1 style="background-color: rgba(255,0,0,0.1);text-align: center">Thank You very much for participating in COVID-19 Return to work survey</h1><br><br>

<h5 style = "text-align: center">We are not getting any user details</h5>

<a th:href="@{/result}" class="btn btn-outline-primary"><h1 style = "text-align: center ">Click this to see the overall results</h1></a>

<img src="../static/images/thankyou.jpg" style= "width:100%;height:400px;text-align:center;margin-left:0"
     th:src="@{images/thankyou.jpg}"/>
</body>
</html>